<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- SNS Link -->
                {#% include sns-links.html center=true %#}

                <p class="copyright text-muted">
                    Copyright &copy; {{ SITENAME }} {% if COPYRIGHT_YEAR %}{{ COPYRIGHT_YEAR }}{% endif %}
                    <br>
                    Powered by <a href="{{ SITEURL }}">{{ SITENAME }}</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user=ivicel&repo=ivicel.github.io&type=star&count=true" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>
