

body {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    color: #404040;
    line-height: 1.7;
    font-size: 1.02em;
}

main article blockquote {
    color: gray;
    font-style: italic;
    font-size: .95em;
    margin: 20px 0 20px;
    padding: 10px 20px;
    border-left: 5px solid #eee;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.7;
    font-weight: 700;
    margin: 0;

}

p {
    margin: 0;
}

main article pre {
    padding: 15px 0 15px 0;
}