{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <style type="text/css">
    header.intro-header{
        position: relative;
        background-image: url('{{ SITEURL }}/{% if article.cover %}{{ article.cover }}{% else %}{{ HOME_COVER }}{% endif %}');
    }

    header.intro-header .header-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0, 0.3);
    }
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endblock %}

{% block content %}
<!-- Post Header -->

<header class="intro-header" >
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in article.tags %}
                        <a class="tag" href="#" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ article.title }}</h1>
                    {% if article.subtitle %}
                    <h2 class="subheading">{{ article.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if article.author %}{{ article.author }}{% else %}{{ AUTHOR }}{% endif %} on {{ article.date | strftime('%Y-%m-%d') }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<div class="container">
    <article>
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ article.content | safe }}

                <hr style="visibility: hidden;">
                <ul class="pager">
                    {#% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %#}
                </ul>
                <hr style="visibility: hidden;">

                {% if DISQUS_SITENAME %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}
            </div>  
        </div>
    </article>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
{% if DISQUS_SITENAME %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_config = function () {
        this.page.url = '{{ SITEURL }}/{{ article.url }}';
        this.page.identifier = '{{ article.title }}';
        this.page.title = '{{ article.title }}';
    };

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- disqus 公共JS代码 end -->
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js"></script>
{% endblock %}