<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="google-site-verification" content="WpfeDx8HRNQcT7jzjSsZ0vhtfw8M7gFo-YoDmXZRGHg"/>
        <meta name="google-site-verification" content="H97dWyn-QYy4n8BEw7ZAX8bFDDin_BwYiEOb3v_4dEs" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        
        {% if SITE_DESCRIPTION %}
        <meta name="description" content="{{ SITE_DESCRIPTION }}" />
        {% endif %} {% if SITE_KEYWORD %}
        <meta name="keywords" content="{{ SITE_KEYWORD }}" />
        {% endif %} {#
        <meta
            name="theme-color"
            content="{{ site.chrome - tab - theme - color }}"
        />
        #}

        <title>
            {% block title %}{{ SITENAME }}{% if SITESUBTITLE and
            SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{%
            endblock title %}
        </title>

        <!-- Web App Manifest -->
        <link rel="manifest" href="{{ SITEURL }}/assets/pwa/manifest.json" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ SITEURL }}/assets/images/favicon.ico"/>
        <!-- Canonical URL -->
        <link rel="canonical" href="{{ url }}" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hux-blog.min.css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/prism.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/ivicel.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {% endblock %}
    </head>


    <!-- hack iOS CSS :active style -->
    <body ontouchstart="">
        {% include 'partials/nav.html' %} 
        
        {% block content %}{% endblock %} 
        
        {% include 'partials/footer.html' %} 
        
        {% block scripts %}
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/prism.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/hux-blog.min.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/snackbar.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/sw-registration.js"></script>
        <!--fastClick.js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                TeX: {
                equationNumbers: {
                    autoNumber: "AMS"
                }
                },
                tex2jax: {
                inlineMath: [ ['$','$'] ],
                displayMath: [ ['$$','$$'] ],
                processEscapes: true,
                }
            });
            </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <!-- Google Analytics -->
        {% if GOOGLE_ANALYTICS %}
        <script>
            var _gaId = "{{ GOOGLE_ANALYTICS }}";
            var _gaDomain = "{{ SITEURL }}";

            // Originial
            (function(i, s, o, g, r, a, m) {
                i["GoogleAnalyticsObject"] = r;
                (i[r] =
                    i[r] ||
                    function() {
                        (i[r].q = i[r].q || []).push(arguments);
                    }),
                    (i[r].l = 1 * new Date());
                (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(
                window,
                document,
                "script",
                "//www.google-analytics.com/analytics.js",
                "ga"
            );

            ga("create", _gaId, _gaDomain);
            ga("send", "pageview");
        </script>
        {% endif %}
        {% endblock %}
    </body>
</html>
