{% extends "base.html" %}


{% block content %}<!-- Page Header -->

<header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HOME_COVER }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>{{ SITENAME }}</h1>
          <span class="subheading">{{ SITEDESCRIPTION }}</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">
	<div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 
            col-xs-12 postlist-container">
            {% include "partials/article_preview.html" %}
        </div>
        <!-- Sidebar Container -->
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12
            sidebar-container">
            <!-- Featured Tags -->
            {% include "partials/featured_tags.html" %}

            <!-- Short About -->
            {% include "partials/short_about.html" %}

            <!-- Friends Blog -->
            {% include "partials/friends.html" %}
        </div>
    </div>
    {% include "partials/pagination.html" %}
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
        <!-- Add support for Mathjax by Voleking-->
    <!-- If you want to see formulars well in post preview, Maybe you should add this.-->
    <!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        TeX: {
        equationNumbers: {
            autoNumber: "AMS"
        }
        },
        tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
        }
    });
    </script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{% endblock %}